* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background-color: #24221F; }
  body .container-fluid {
    margin-top: 85px;
    position: relative; }
    body .container-fluid .loading {
      position: absolute;
      width: 95%;
      margin: 0 auto;
      top: 80%;
      text-align: center; }
    body .container-fluid .market-info {
      color: #FCF7F9;
      display: flex;
      width: 95%;
      margin: 0 auto;
      margin-bottom: 15px;
      justify-content: space-between; }
      @media screen and (max-width: 635px) {
        body .container-fluid .market-info .market-info {
          display: none; } }
      body .container-fluid .market-info p {
        text-align: center;
        color: #43D64E;
        font-weight: bold; }
        body .container-fluid .market-info p span {
          color: #FCF7F9;
          font-weight: 100; }
    @media screen and (max-width: 635px) {
      body .container-fluid .market-info {
        display: none; } }
    body .container-fluid .nav-primary {
      background-color: #FCF7F9;
      display: flex;
      align-items: center;
      height: 45px;
      min-width: 502px; }
      body .container-fluid .nav-primary .nav__home {
        display: flex; }
        body .container-fluid .nav-primary .nav__home a {
          display: flex;
          align-items: center;
          text-decoration: none; }
          body .container-fluid .nav-primary .nav__home a .nav-logo {
            width: 35px;
            margin-left: 15px; }
          body .container-fluid .nav-primary .nav__home a p {
            font-family: 'Righteous', cursive;
            color: #24221F;
            font-size: 25px;
            margin-left: 10px;
            transition: 0.3s; }
            body .container-fluid .nav-primary .nav__home a p:hover {
              color: rgba(36, 34, 31, 0.488); }
      body .container-fluid .nav-primary .nav__tools {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin: 0 auto; }
        body .container-fluid .nav-primary .nav__tools a {
          text-decoration: none;
          color: #000000;
          font-weight: bold;
          transition: 0.3s; }
          body .container-fluid .nav-primary .nav__tools a:hover {
            color: #43D64E; }
        body .container-fluid .nav-primary .nav__tools .nav__tools--item {
          margin: 0 15px; }
      body .container-fluid .nav-primary .nav-hamburger {
        margin-right: 10px;
        display: none;
        background-color: transparent;
        border: none;
        cursor: pointer; }
        body .container-fluid .nav-primary .nav-hamburger img {
          width: 25px; }
      @media screen and (max-width: 770px) {
        body .container-fluid .nav-primary .nav-hamburger {
          display: flex; }
        body .container-fluid .nav-primary .nav__tools--item {
          display: none; } }
    body .container-fluid .nav-secondary {
      display: none;
      height: 365px; }
    body .container-fluid .table {
      min-width: 502px; }
      body .container-fluid .table th {
        text-align: center; }
      body .container-fluid .table .table-content .row-coin {
        text-align: center; }
        body .container-fluid .table .table-content .row-coin .logoNameCoin {
          display: flex;
          align-items: center; }
          body .container-fluid .table .table-content .row-coin .logoNameCoin .logoCoin {
            margin-right: 5px; }
          body .container-fluid .table .table-content .row-coin .logoNameCoin > .logoNameCoin {
            margin-top: -1px; }
          body .container-fluid .table .table-content .row-coin .logoNameCoin a {
            text-decoration: none;
            color: #ffff; }
          body .container-fluid .table .table-content .row-coin .logoNameCoin .addCoinFavourite {
            padding: 5px;
            margin-left: 15px;
            background-color: transparent;
            border-radius: 20px;
            border: solid #43D64E 1px;
            cursor: pointer;
            transition: 0.3s; }
            body .container-fluid .table .table-content .row-coin .logoNameCoin .addCoinFavourite:hover {
              background-color: #43D64E; }
      @media screen and (max-width: 1030px) {
        body .container-fluid .table .volume24h-column, body .container-fluid .table .coinDailyVolume {
          display: none; } }
      @media screen and (max-width: 870px) {
        body .container-fluid .table .coinSymbol, body .container-fluid .table .symbol-column {
          display: none; }
        body .container-fluid .table .logoNameCoin {
          width: 150px;
          text-align: center; } }
      @media screen and (max-width: 715px) {
        body .container-fluid .table .coinMarketCap, body .container-fluid .table .marketCap-column {
          display: none; } }
  @media screen and (max-width: 635px) {
    body .container-fluid {
      margin-top: 50px; } }
