//////////////////////////////////////////////////Colors
$primary-color: #43D64E;
$secondary-color: #FCF7F9;
$third-color: #24221F;
$fourth-color: #2E8698;
$sixth-color: #205A5E;
$eight-color: #ff0000;
//////////////////////////////////////////////////
$font-OpenSans: 'Open Sans', sans-serif;
$font-Dosis: 'Dosis', sans-serif;
//////////////////////////////////////////////////FONTS



*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: $third-color;

    .header{
        width: 70%;
        margin: 0 auto;
        display: flex;
        border-bottom: $primary-color;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        border-bottom: 1px solid $primary-color;

        .header__home{
            width: 80%;
            display: flex;
            align-items: center;
            padding-bottom: 15px;
            
        }

        .header__poweredBy{
            color: red;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            .poweredBy--text{
                width: 95px;
                cursor: default;
                color: $secondary-color;
                font-family: $font-OpenSans;
                
            }

            .header__poweredBy--item img{
                width: 35px;
                margin-left: 25px;
                height: 35px;
            }
        }

        h1{
            font-size: 23px;

            a{
                color: $primary-color;
                font-family: $font-OpenSans;
                text-decoration: none;
                transition: 0.3s;

                &:hover{
                    color: $secondary-color;
                }

                span{
                    color: $fourth-color;
                    font-size: 11px;
                }
            }
        }

        .header-logo{
            width: 50px;
        }
    }

    .container-fluid{
        width: 90%;
        margin-top: 85px;
        position: relative;

        .loading{
            position: absolute;
            width: 95%;
            margin: 0 auto;
            top: 80%;
            text-align: center;
        }

        .market-info{
            color: $secondary-color;
            font-family: $font-OpenSans;
            display: flex;
            width: 95%;
            margin: 0 auto;
            margin-bottom: 15px;
            justify-content: space-between;

            @media screen and(max-width: 635px){
                .market-info{
                    display: none;
                }
            }

            p{
                text-align: center;
                color: $primary-color;
                font-weight: bold;

                span{
                    color: $secondary-color;
                    font-weight: 100;
                }
            }
        }

        .nav-primary{
            background-color: $secondary-color;
            font-family: $font-Dosis;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            height: 45px;
            min-width: 502px;
            border: 35px 0 0 35px;

            .nav__home{
                display: flex;

                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    .nav-logo{
                        width: 42px;
                        margin-left: 25px;
                        
                    }

                    .siteName{
                        font-family: $font-OpenSans;
                        color: $third-color;
                        font-size: 25px;
                        margin-left: 3px;
                        transition: 0.3s;

                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }

            .nav__tools{
                display: flex;
                justify-content: flex-end;
                width: 90%;
                margin: 0 auto;
                
                .nav__tools--item{
                    margin: 0 15px;
                    display: flex;
                    align-items: center;
                    -webkit-transition: 0.5s ease;

                    a{
                        text-decoration: none;
                        color: #000000;
                        font-weight: bold;
                        transition: 0.3s;

                        &:hover{
                            color: $primary-color;
                        }
                    }

                    
                }

                .custom-select{
                    text-align: left;
                    margin-right: 5px;
                    width: 70px;
                    display: none;
                    cursor: pointer;
                }
            }

            .nav-hamburger{
                margin-right: 10px;
                display: none;
                background-color: transparent;
                border: none;
                cursor: pointer;

                .hamburgerImg{
                    width: 25px;
                }
            }
        }
        
        .table{
            
            min-width: 502px;

            .column{
                text-align: center;
                font-family: $font-Dosis;
                color: $primary-color;
            }
            
            .table-data{
                font-size: 13px;
                font-family: $font-OpenSans;

                .row-coin{
                    text-align: center;

                    .logoNameAndCoin{
                        margin-top: -1px;
                        display: flex;
                        align-items: center;

                        a{
                            text-decoration: none;
                            color: #ffff;
                        }

                        p{
                            color: $secondary-color;
                            transition: 0.3s;

                            &:hover{
                                color: $primary-color;
                            }
                        }

                        .logoCoin{
                            margin-right: 5px;
                            border-radius: 5px;
                        }

                        & > .logoNameCoin{
                            margin-top: -1px;
                        }
                        
                        .addCoinFavourite{
                            padding: 5px;
                            margin-left: 15px;
                            background-color: transparent;
                            border-radius: 20px;
                            border: solid $primary-color 1px;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover{
                                background-color: $primary-color;
                            }
                        }

                        .addCoinFavourite-checked{
                            background-color: $primary-color;
                        }
                    }
                }

            }
        }
    }
}


    

    





