$primary-color: #43D64E;
$secondary-color: #FCF7F9;
$third-color: #24221F;
$fourth-color: #2E8698;
$sixth-color: #205A5E;
$eight-color: #ff0000;


*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: $third-color;

    .container-fluid{
        margin-top: 85px;
        position: relative;

        .loading{
            position: absolute;
            width: 95%;
            margin: 0 auto;
            top: 80%;
            text-align: center;
        }

        .market-info{
            color: $secondary-color;
            display: flex;
            width: 95%;
            margin: 0 auto;
            margin-bottom: 15px;
            justify-content: space-between;

            @media screen and(max-width: 635px){
                .market-info{
                    display: none;
                }
            }

            p{
                text-align: center;
                color: $primary-color;
                font-weight: bold;

                span{
                    color: $secondary-color;
                    font-weight: 100;
                }
            }

            
        }

        @media screen and(max-width: 635px){
            .market-info{
                display: none;
            }
        }

        

        .nav-primary{
            background-color: $secondary-color;
            display: flex;
            align-items: center;
            height: 45px;
            min-width: 502px;

            .nav__home{
                display: flex;

                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    .nav-logo{
                        width: 42px;
                        margin-left: 15px;
                        
                    }

                    p{
                        font-family: 'Righteous', cursive;
                        color: #24221F;
                        font-size: 25px;
                        margin-left: 3px;
                        transition: 0.3s;

                        &:hover{
                            color: rgba(36, 34, 31, 0.488);
                            
                        }
                    }

                }
            }

            .nav__tools{
                display: flex;
                justify-content: flex-end;
                width: 90%;
                margin: 0 auto;

                a{
                    text-decoration: none;
                    color: #000000;
                    font-weight: bold;
                    transition: 0.3s;

                    &:hover{
                        
                        color: $primary-color;
                    }
                }

                .nav__tools--item{
                    margin: 0 15px;
                    display: flex;
                    align-items: center;

                    
                }
            }

            .nav-hamburger{
                margin-right: 10px;
                display: none;
                background-color: transparent;
                border: none;
                cursor: pointer;

                img{
                    width: 25px;
                }

            }

            @media screen and (max-width: 770px){
                
                .nav-hamburger{
                    display: flex;
                }
                .nav__tools--item{
                    display: none;
                }
            }
        }

        .nav-secondary{
            
            display: none;
            height: 365px;
        }

        .table{

            min-width: 502px;

            th{
                text-align: center;
            }
            
            .table-content{

                .row-coin{
                    text-align: center;


                    

                    .logoNameCoin{
                        display: flex;
                        align-items: center;

                        .checked{
                            background-color: red;
                        }
                        
                        

                        .logoCoin{
                            margin-right: 5px;
                        }

                        & > .logoNameCoin{
                            margin-top: -1px;
                        }
                        

                        a{
                            text-decoration: none;
                            color: #ffff;
                        }

                        .addCoinFavourite{
                            padding: 5px;
                            margin-left: 15px;
                            background-color: transparent;
                            border-radius: 20px;
                            border: solid $primary-color 1px;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover{
                                background-color: $primary-color;
                            }

                            
                        }

                        .addCoinFavourite-checked{
                            background-color: $primary-color;
                        }
                    }
                }

            }

            @media screen and (max-width: 1030px){
                .volume24h-column, .coinDailyVolume{
                    display: none;
                }
            }

            @media screen and(max-width: 870px){
                .coinSymbol, .symbol-column{
                    display: none;
                }

                .logoNameCoin{
                    width: 150px;
                    text-align: center;

                    p{
                        width: 100px;
                    }
                }
            }

            @media screen and(max-width: 715px){
                .coinMarketCap, .marketCap-column{
                    display: none;
                }

                
            }
        }
    }

    @media screen and(max-width: 635px){
        .container-fluid{
            margin-top: 50px;
        }
    }
}


    

    





